body {
  font-family: 'Roboto', sans-serif;
  background-color: #fdf9ff;
}

/*Barra superior */
.barra-superior {
  background-color: #7dc2ae;
  padding: 10px 20px;
  height: 100px;
}

.logo {
  width: 90px;
  height: 90PX;
}

.nav-link {
  color: black !important;
  font-weight: 500;
  margin-right: 15px;
}

.nav-link.active {
  background-color: transparent;
  border-radius: 8px;
  padding: 5px 15px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  border: 3.5px solid #637AB9;  
}

.btn-cerrar {
  background-color: #8a93e3;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 15px;
  font-weight: 500;
}

.btn-cerrar:hover {
  background-color: #7a83d6;
}

/* Tarjeta principal */
.contenedor-principal {
  max-width: 1000px;
  border-radius: 15px;
  background-color: #fbf4ff;
  border: 1px solid #e5dff5;
  text-align: center;
}

.titulo-bienvenida {
  font-weight: 700;
  color: #222;
  border: 1px solid #cfc6e6;
  border-radius: 50px;
  padding: 50px 30px;
  background-color: white;

  width: 600px;                /* ancho fijo */
  display: flex;               
  justify-content: center;     
  align-items: center;        

  margin: 0 auto;              /* centra el título dentro del contenedor padre */
  text-align: center;       
}

.perfil {
  display: flex;                   
  align-items: center;            
  justify-content: center;         
  gap: 30px;                      
  margin-top: 30px;               
}

.foto-perfil {
  width: 200px;                    /* ancho de la foto */
  height: 200px;                   /* altura de la foto */
  object-fit: cover;               /* mantiene proporción de la imagen */
  border-radius: 50%;              
  }

.nombre, .correo {
  border: 1px solid #d8caec;
  border-radius: 10px;
  background-color: white;
  color: #222;
  padding: 20px 30px;
  font-size: 1.2rem;
  width: 800px;                      /* ancho flexible */
  max-width: 600px;                /* límite máximo de ancho */
  height: 120px;                   /* altura fija */
  
  display: flex;
  justify-content: center;         /* centra horizontalmente */
  align-items: center;             /* centra verticalmente */
  
  margin: 10px auto;
  text-align: center;
}
